.home {
  .site-content {
      padding-top:0;
      .site-main {
        margin-top:0;    
      }
  }
  .site-header {
    border-bottom: none;
  }
}    
   
.home.blog .site-content {
    padding-top: 100px;
}  
.blog {
    article.post {
      padding: 40px 0px 40px; 
      .post-thumb {   
        padding-top: 10px;
      }
    }
    article.post:first-child {
      padding-top:0;
    }
}
    
/*  title divider */
.title-divider {
  position: relative;
  margin-bottom: 75px;  
  border-color: $primary;

   &:before {
      position: absolute;
      content:"";
      width: 47px;
      height: 1px;
      border-color:inherit;
      border-bottom-style:solid;
      border-bottom-width:1px;
      left:0;
      bottom:-11px;
      z-index:1;
   }
    &:after {
      position: absolute;
      content:"";
      width: 47px;
      height: 1px;
      border-color:inherit;
      border-bottom-style:solid;
      border-bottom-width:1px;
      left: 73px;
      bottom:-11px;
   }
   span {   
     &:before {
        position: absolute;
        content: "\f08a";
        @include font-size(1.4);
        font-family: 'FontAwesome';
        color: $primary;
        left: 47px;
        bottom: -16px; 
        width: 26px;
        text-align: center;
        line-height: 1rem;
     }
   }

}

.title-divider.small-td {
  &:before {
    width: 20px;
  }
  &:after {
    width: 20px;
    left: 40px;
  }
  span:before {
    @include font-size(1.2);
    width: 20px;
    left: 20px;
    bottom: -15px;
  }
}

/* title divider center */
.title-divider.center {
  text-align: center;
   &:before {
      left: calc(50% - 60px);
   }
   &:after {
     left: calc(50% + 13px); 
   }
   span:before {
      left: calc(50% - 13px);
   }
} 


/* title divider  right */
.title-divider.right {
  text-align: right;
   &:before {
      left: calc(100% - 120px);
   }
   &:after {
     left: calc(100% - 47px); 
   }
   span:before {
      left: calc(100% - 73px);
   }
} 


/* Home page service section */
.services-wrapper {
  padding: 100px 0px;
  .service-section {
     padding: 0px 10px;
     .service-image {
        margin-bottom: 15px;
        float: left;
        width: 70px;
        .fa {
          width: 50px;
          height: 50px;
          line-height: 50px;
          color: $primary;
          @include font-size(2.4);
          border-radius: 100%;
          border: 1px solid $primary;
          text-align: center;
        }
        a {
          display: block;
        }
     }
     .service-content {
        @include font-size(1.5);
        float: left;
        width: calc(100% - 70px);
        .service-title {
           position: relative;
           margin-bottom: 4px;
           line-height: 3rem;
           margin-bottom: 10px;
            a {
               color: $secondary;
               &:hover {
                color: $primary;
               }
            }
        } 
     }
     &:nth-of-type(2) {
       //padding-left: 25px;
       //padding-right: 25px;
     } 
     &:hover {
       .fa {
         background-color: $primary;
         color: $white;
       }
     }  
  }
}


/* Recent Post section */
.post-wrapper {
   padding: 80px 0px 70px;
   background-color: $c2;
    .latest-posts {
      .eight:nth-child(2n+1) {
          clear: both;
      }    
     
      .latest-post {
          @include transition-default(all, 0.5s, ease);
          overflow: hidden; 
          position: relative;
          margin-bottom: 2.5em;
          text-align: left;
          margin: 0px 10px 2.5em 10px;
      }

      .latest-post-thumb img { 
        display:block;
      }

      .latest-post-details {
          padding: 20px 20px 0 0px;
          h4 {
              margin-bottom: 0;
              text-transform: uppercase;
              a {
                color: $secondary;
                &:hover {
                   color:$primary;
                }
              }
          } 
          .entry-meta {
              display: none;
          }
          .latest-post-content {
              margin: 30px 0 30px;
          }
            
          .btn-readmore {
            display:inline-block;
            padding: 20px 0px 0px 20px;
            color: $primary;
            &:hover {
              color: $secondary;
            }
          }
      }
    }  

}


/* common to service and post wrapper section */
.services-wrapper,.post-wrapper {
  a.more-link {
     margin-top:0;
     background-color: transparent;
     color: $primary;
     padding-left:0;
     &:hover {
        background-color: transparent;
        color: $secondary;
     }
  }
}
.services-wrapper {
  .portfolio-readmore {
    margin-top: -20px;
  }
}

/* Banner form */
#banner-form {
    width: 280px;
    position: fixed;
    top: 27%;
    right:-280px;
    z-index: 1000;

  .banner-form-title {
     margin-bottom:0;
     padding: 10px;
     text-align: center;
     background-color: $primary;
     color: $white;
     width: 220px;
  }

  .wpcf7 {
     background-color: #fafbfb;
     border: 1px solid $c1;
     padding: 20px 20px 0px 20px;
     @include font-size(1.4);
     float: rigth;

     input[type="submit"],input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
          width: 100%;
     }
     form p:last-of-type {
        margin-bottom: 0;
     }
  }

  .pull_feedback {
      background: $primary;
      color: $white;
      display: block;
      height: 45px;
      left: -123px;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: calc(50% - 60px);
      transform: rotate(-90deg);
      width: 200px;
      font-weight: 600;
      i {
          display: inline-block;
          padding: 0px 5px;
      }
   }
}


/* other pages like 404 */
.error-404.not-found {
text-align: center;
  h1.page-title {
    text-align: center;
    margin-bottom: 30px;
    span {
      color: $c3;
      display: block;
    }
  }
}


.no-results,.not-found {
    input[type="search"] {
      float: left;
      width: 75%;
    }
    input[type="submit"] {
      float: left;
      width: 20%;
      position: relative;
      right: -4px;
      top: -5px;
    }
}


